<div class="content">
  <div class="block">
    <div class="title">
      <h3>Infantry</h3>
      <button (click)="addInfantry()">Add Infantry</button>
    </div>

    <div class="item" *ngFor="let unit of infantryUnits; let i = index">
      <p>Infantry-{{ i }}</p>
      <button (click)=" unit.attack(i) "> Атака</button>
      <button (click)=" unit.defend(i) "> Защита</button>
      <select [(ngModel)]="selectedInfantryIndex">
        <option value="attack">Атака</option>
        <option value="defend">Защита</option>
      </select>
      <button (click)="commandInfantry(i,selectedInfantryIndex)">Командовать</button>

      <button (click)="removeInfantry(i)">Удалить</button>
    </div>
  </div>


  <div class="block">
    <div class="title">
      <h3>Cavalry</h3>
      <button (click)="addCavalry()">Add Cavalry</button>
    </div>
    <div class="item" *ngFor="let unit of cavalryUnits; let i = index">
      <p>Cavalry-{{ i }}</p>
      <button (click)=" unit.attack(i) "> Атака</button>
      <button (click)=" unit.defend(i) "> Защита</button>
      <select [(ngModel)]="selectedInfantryIndex">
        <option value="attack">Атака</option>
        <option value="defend">Защита</option>
      </select>
      <button (click)="commandCavalry(i,selectedInfantryIndex)">Командовать</button>


      <button (click)="removeCavalry(i)">Удалить</button>
    </div>
  </div>

  <div class="block">
    <div class="title">
      <h3>Artillery</h3>
      <button (click)="addArtillery()">Add Artillery</button>
    </div>
    <div class="item" *ngFor="let unit of artilleryUnits; let i = index">
      <p>Artillery-{{ i }}</p>
      <button (click)=" unit.attack(i) "> Атака</button>
      <button (click)=" unit.defend(i) "> Защита</button>
      <select [(ngModel)]="selectedInfantryIndex">
        <option value="attack">Атака</option>
        <option value="defend">Защита</option>
      </select>
      <button (click)="commandArtillery(i,selectedInfantryIndex)">Командовать</button>

      <button (click)="removeArtillery(i)">Удалить</button>
    </div>
  </div>
</div>
<div>

  <div>
    <div id="message-container"></div>
    <button (click)="clearMessages()">Очистить сообщения</button>
  </div>